<div class="ui top attached menu borderless">
  <%= link_to 'Buyers', admin_buyers_path, class: active_helper('buyers': ['index']) %>
  <%= link_to 'Credit Sales Reconciliation', overdue_admin_buyers_path, class: active_helper('buyers': ['overdue']) %>
</div>

