<div class="ui grid page">

  <div class="four wide column">
    <%= render 'my/base/nav' %>
  </div>

  <div class="twelve wide column">

    <div class="ui segment">
      <div class="panel-heading"><%= link_to '编辑信息', edit_my_profile_path %></div>
    </div>

  </div>

</div>


