<li><%= link_to t('.card_templates.index.title'), { controller: 'card_templates' } %></li>
<li><%= link_to t('.cards.index.title'), { controller: 'cards', anchor: "tr_#{@card.id}" } %></li>
<li class="is-active"><%= t('.title') %></li>
