<div class="weui-navbar">
<% @card_templates.each do |card_template| %>
  <div class="<%= active_helper(active: 'weui-navbar__item weui-navbar__item_on', item: 'weui-navbar__item') %>"><%= card_template.name %></div>
<% end %>
</div>
