<div data-controller="search" class="field is-grouped py-2 mb-0">
  <div class="control is-expanded has-icons-left">
    <%= form_with theme: nil, method: :get do |f| %>
      <%= f.search_field defined?(name) ? name : 'name-like', value: params[defined?(name) ? name : 'name-like'], placeholder: '搜索', data: { search_target: 'input' }, class: 'input is-rounded' %>
      <%= svg_tag 'magnifying-glass', class: 'icon is-small is-left p-3' %>
    <% end %>
  </div>
  <button data-search-target="cancel" data-action="search#cancel" class="button is-borderless display-none">
    <span>取消</span>
  </button>
</div>