<tr>
  <td class="has-text-right"><%= Trade::Order.human_attribute_name(:uuid) %></td>
  <td><%= @order.uuid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Order.human_attribute_name(:note) %></td>
  <td><%= @order.note %></td>
</tr>
