<%= render 'top_bar' %>

<%= form_with theme: 'weui', model: @order, url: { action: 'adjust_update' } do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells">
        <%= f.number_field :amount, value: nil, placeholder: f.object.amount.to_fs %>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
