<table class="table is-fullwidth is-borderless as-show">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></td>
      <td class="has-text-danger"><%= @order.unreceived_amount.to_money.format(html_wrap: true).html_safe %></td>
    </tr>
    <% unless @order.items.map(&:good_type).include?('Trade::Advance') %>
      <%= render partial: 'wallet', collection: @order.user.wallets, as: :wallet if @order.user %>
    <% end %>
    <%= render 'hand_payment' %>
  </tbody>
</table>
