<div class="ui container content">
    <!-- 成功 -->
    <div class="settlement">
        <%= image_tag "face2.jpg"%>
        <p class="title">Your payment is successful!</p>
        <p>We will ship out your order and update you with dispatch detail</p>
        <%= link_to 'My Order list', show_orders_my_personal_center_path, class: 'ui green button mr_w_15 settlement_btn2' %>
        <%= link_to 'Back Home', root_path, class: 'ui yellow button mr_w_15' %>
    </div>
</div>
