<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.items.index.title'), { action: 'index' } %></li>
    <li><%= link_to @item.order.uuid, { controller: 'orders', action: 'show', id: @item.order_id } %></li>
    <li class="is-active"><%= @item.id %></li>
  </ul>
</div>
