<li><%= link_to t('.items.index.title'), { action: 'index' } %></li>
<% if @item.order %>
  <li><%= link_to @item.order.uuid, { controller: 'orders', action: 'show', id: @item.order_id } %></li>
<% end %>
<li class="is-active"><%= @item.id %></li>
