<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('vip.admin.card_templates.index.title'), admin_card_templates_path %></li>
    <li><%= @card_template.name %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
