<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.in.productions.index.title'), { controller: 'productions', factory_taxon_id: params[:factory_taxon_id] } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
