<table class="table is-striped is-fullwidth as-boxed">
  <thead>
    <tr>
      <%= render 'refund_thead' %>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
