<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:name) %></dt>
  <dd><%= @card_template.name %></dd>
</div>
<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:price) %></dt>
  <dd><%= @card_template.advances %></dd>
</div>
