<tr>
  <td><%= Trade::CardTemplate.human_attribute_name(:name) %></td>
  <td><%= @card_template.name %></td>
</tr>
<tr>
  <td><%= Trade::CardTemplate.human_attribute_name(:price) %></td>
  <td><%= @card_template.advances %></td>
</tr>
