<div class="box is-padding-less mx-3">
  <%= render 'my/profile_item' %>
</div>

<div data-controller="empty" class="box mx-3">
  <div class="weui-panel__hd">企业用餐</div>
  <div class="weui-panel__bd">
    <div data-empty-target="content" class="weui-cells weui-cells_radio">
      <%= render partial: 'organs_cart', collection: @members, as: :model %>
    </div>
  </div>
</div>

<div class="box mx-3">
  <div class="weui-panel__bd">
  <% @roles.each do |role| %>
    <%= link_to({ controller: 'org/board/organs', action: 'new', role_id: role.id }, class: 'media') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= role.tip %></span>
    <% end %>
  <% end %>
  </div>
</div>
