<span class="menu-label">订单</span>
<div class="menu-list">
  <%= link_to t('trade.board.carts.index.title'), my_carts_path, class: active_helper(controllers: ['carts']) %>
  <%= link_to t('trade.board.orders.index.title'), my_orders_path, class: active_helper(controllers: ['orders']) %>
</div>
