<ul class="breadcrumb">
  <li><%= link_to @product.title, product_path(@product) %></li>
  <li><%= link_to '促销', product_sales_path(@product) %></li>
  <li class="active">编辑</li>
</ul>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
