<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @promote_charge, scope: :promote_charge, url: admin_promote_charge_path(@promote, @promote_charge), method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
