<%= link_to({ action: 'part_new', good_type: params[:good_type] }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link mb-2') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="pl-1"><%= t('.new.title') %></span>
<% end %>
