<div class="ui segment breadcrumb">
  <%= link_to 'back', admin_providers_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="section">编辑</div>
</div>

<div class="ui segment">

  <%= form_with model: @provider, url: admin_provider_path(@provider) do |f| %>
     <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>




