<div>
  <div class="ui segment breadcrumb">
    <%= link_to '供应商列表', admin_providers_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新建供应商</div>
  </div>

  <div class="ui segment">
    <%= form_with model: [:admin, @provider] do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>







