<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.orders.index.title'), { controller: 'orders', action: 'index', id: params[:order_id] } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
