<div class="tabs as-navbar is-sticky flex-shrink-0">
<% [:init, :done, :canceled].each do |status| %>
  <%= link_to Trade::Order.enum_i18n(:state, status), { state: status }, class: active_helper(state: status, active: 'is-active') %>
<% end %>
</div>
