<div class="tabs is-boxed is-fullwidth is-sticky mb-3">
  <ul>
  <% [:init, :done, :canceled].each do |status| %>
    <li class="<%= active_helper(state: status, item: 'size-7', active: 'is-active size-7') %>">
      <%= link_to Trade::Order.enum_i18n(:state, status), { state: status } %>
    </li>
  <% end %>
  </ul>
</div>
