<div class="three wide column">
  <%= render 'admin/base/nav' %>
</div>

<div class="thirteen wide column">
  <div class="ui breadcrumb">
    <%= link_to '商品列表', admin_goods_path, class: 'section' %>
    <i class="fa-light fa-angle-right divider"></i>
    <div class="active section">新增商品</div>
  </div>

  <%= render 'form' %>

</div>
