<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.orders.index.title'), { controller: 'orders' } %></li>
    <li class="is-active"><%= @order.uuid %></li>
  </ul>
</div>
