<dl class="as-show">
  <div>
    <dt><%= cart_promote.promote.name %></dt>
    <dd><%= cart_promote.amount.to_money.format.html_safe %></dd>
  </div>
</dl>

<%= button_to({ controller: 'cart_promotes', action: 'edit', id: cart_promote.id }, class: 'button') do %>
  <i class="fa-solid fa-pencil"></i>
  <span class="pl-1"><%= t('trade.admin.cart_promotes.edit.title') %></span>
<% end if cart_promote.promote.editable %>
