<tr>
  <td><%= item_promote.promote&.name %></td>
  <td colspan="<%= @order.aim_rent? ? '4' : '3' %>">
    <p>计算规则：<%= render partial: 'plus_promote_charge', locals: { model: item_promote } %></p>
  </td>
  <td><%= item_promote.amount.to_money.format.html_safe %></td>
  <td></td>
</tr>
