<div class="buttons are-small is-space-around">
  <% if request.variant.include?(:mini_program) %>
    <button
      data-controller="mini-program"
      data-mini-program-url-value="/pages/print/execute/index"
      data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: @order.id, only_path: false, **Rails.application.routes.default_url_options) }.to_json %>"
      data-action="click->mini-program#link"
      class="button is-info"
    >
      <i class="fa-solid fa-print"></i>
      <span class="pl-1">打印订单</span>
    </button>
  <% else %>
    <%= button_to({ action: 'print' }, form: { class: 'button is-info' }) do %>
      <i class="fa-solid fa-print"></i>
      <span class="pl-1"><%= t('trade.admin.orders.print.title') %></span>
    <% end %>
  <% end %>
  <%= link_to({ action: 'payment_types', id: @order.id }, class: 'button is-link') do %>
    <span>支付</span>
  <% end if @order.can_pay? %>
</div>
