<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.items.index.title'), { controller: 'items', aim: 'rent' } %></li>
    <li><span class="px-3"><%= @item.uuid %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
