<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.trade_items.index.title'), { controller: 'trade_items', aim: 'rent' } %></li>
    <li><span class="px-3"><%= @trade_item.uuid %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
