<li><%= link_to t('.promotes.index.title'), { controller: 'promotes' } %></li>
<li><%= link_to @promote.name, { controller: 'promotes', id: @promote.id } %></li>
<li class="is-active"><%= t('.title') %></li>
