<th><%= Trade::PromoteGood.human_attribute_name(:good_type) %></th>
<th>
  <p><%= Trade::PromoteGood.human_attribute_name(:effect_at) %></p>
  <p><%= Trade::PromoteGood.human_attribute_name(:expire_at) %></p>
</th>
