<%= link_to({ action: 'new', **request.query_parameters.except(:id) }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
  <i class="fa-regular fa-plus"></i>
  <span class="pl-1"><%= t('.new') %></span>
<% end %>
