<%= link_to({ action: 'new', **request.query_parameters.except(:id) }, class: 'button is-small is-link mb-1') do %>
  <i class="fa-regular fa-plus"></i>
  <span class="pl-1"><%= t('.new') %></span>
<% end %>
