

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ controller: 'order/items', action: 'edit', order_id: model.order_id, id: model.id }, aria: { label: t('.order.items.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
      <% end %>
    </div>
  </td>

<%= render partial: 'item_promote_tbody', layout: 'item_promote_tr', collection: model.item_promotes, as: :model %>
