<div class="box is-padding-less mt-3">
  <div class="box-header">
    <% if model.aim != 'use' %>
      <span class="tag is-danger"><%= model.aim_i18n %></span>
    <% end %>
    <span><%= model.payment_status_i18n %></span>
    <% if model.payment_strategy %>
      <span class="tag is-danger"><%= model.payment_strategy.name %></span>
    <% end %>
  </div>
  <div class="panel-block flex-direction-column">
    <%= render partial: 'item', collection: model.items, as: :item %>
  </div>
</div>
