<div class="weui-panel">
  <div class="weui-panel__hd"><%= model.payment_status_i18n %></div>
  <div class="weui-panel__bd">
    <%= render partial: 'trade_item', collection: model.trade_items, as: :trade_item %>
  </div>
</div>
