<div class="box mx-3">
  <div class="box-header">包裹及物流</div>
  <div data-empty-target="content" class="weui-panel__bd">
    <%= render partial: 'package', collection: model.packages, as: :package %>
  </div>
</div>
