<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <span>包裹及物流</span>
  </div>
  <div class="weui-panel__bd" data-empty-target="content">
    <%= render partial: 'package', collection: model.packages, as: :package %>
  </div>
</div>
