<div data-controller="empty" class="weui-panel is-box">
  <div class="weui-panel__ft">
    <div class="weui-cell weui-cell_link" data-empty-target="content">
      <%= button_to({ action: 'package', id: @order.id }, class: 'weui-btn weui-btn_mini weui-btn_primary') do %>
        <span>打包</span>
      <% end %>
    </div>
  </div>
</div>
