<div data-controller="empty" class="weui-panel is-box">
  <div class="weui-panel__hd">包裹及物流</div>
  <div data-empty-target="content" class="weui-panel__bd">
    <%= render partial: 'package', collection: model.packages, as: :package %>
  </div>
</div>
