<li><%= link_to t('.promotes.index.title'), { controller: 'promotes', anchor: "tr_#{@promote.id}" } %></li>
<li><span class="px-3"><%= @promote.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
