<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.carts.user.title'), { action: 'user' } %></li>
    <li><span class="px-3"><%= @user.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
