<div class="as-bar">
  <%= link_to({ controller: 'orders' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left', kind: 'regular' %>
  <% end %>
  <div class="bar-title"><%= @item.order.uuid %></div>
  <i class="px-5"></i>
</div>
