<div class="">

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_payment_methods_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Add New</div>
  </div>

  <div class="ui segment">
    <%= form_with model: [:admin, @payment_method], local: true do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
