<li><%= link_to t('space.admin.desks.all.title'), { controller: 'space/admin/desks', action: 'all' } %></li>
<li><span class="px-3"><%= @desk.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
