<div class="ui modal" id="good_serves_index">
  <i class="close icon"></i>
  <div class="ui header blue">
    Cart Item Servers
  </div>
  <div class="content">
    <%= render 'rails_trade_admin/cart_item_serves/total_table' %>
  </div>
</div>

