<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
    <%= image_tag trade_item.good.logo, class: 'weui-media-box__thumb' if trade_item.good.logo.attached? %>
  </div>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">
      <span><%= trade_item.good.name %></span>
      <span class="tag"><%= trade_item.aim_i18n %></span>
    </h4>
    <p class="weui-media-box__desc">
      <span class="is-size-7"><%= trade_item.number %></span>
    </p>
  </div>
</div>
