<%= button_to({ controller: 'ship/admin/addresses', action: 'new' }, class: 'button is-small is-link') do %>
  <%= svg_tag 'plus' %>
  <span class="ml-1"><%= t('ship.admin.addresses.new.title') %></span>
<% end %>
