<table class="table is-borderless is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <%= render 'address_thead' %>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
