<%= button_to({ controller: 'profiled/admin/addresses', action: 'new' }, class: 'button is-small is-link') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="pl-1"><%= t('profiled.admin.addresses.new.title') %></span>
<% end %>
