<%= button_to({ controller: 'ship/admin/addresses', action: 'new' }, class: 'button is-small is-link') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="ml-1"><%= t('ship.admin.addresses.new.title') %></span>
<% end %>
