<%= link_to({ controller: 'profiled/admin/addresses', action: 'new' }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link mb-1') do %>
  <i class="fa-light fa-plus"></i>
  <span class="pl-1"><%= t('.new') %></span>
<% end %>
