<td><%= f.text_field :good_name, autocomplete: 'off', form: 'new_order' %></td>
<td><%= f.number_field :number, form: 'new_order' %></td>
<td><%= f.number_field :weight, form: 'new_order' %></td>
<td><%= f.text_field :note, form: 'new_order' %></td>
