<tr data-controller="field" data-field-index-value="<%= f.index %>">
  <%= yield %>
  <td>
    <i class="fa-solid fa-plus" style="cursor: pointer" data-action="click->field#add"></i>
    <i class="fa-solid fa-minus pl-1" style="cursor: pointer" data-action="click->field#remove"></i>
  </td>
</tr>
