<div class="card is-wallet">
  <div class="card-header">
    <p class="card-header-title">
      <span><%= model.name %></span>
      <span class="has-text-grey">（未开通）</span>
    </p>
  </div>
  <div class="card-content is-cover flex flex-direction-column-reverse" style="color: <%= model.text_color %>; background-image: url(<%= rails_blob_url(model.cover) %>)">
    <div class="description"></div>
  </div>
  <div class="card-footer"></div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">
    续费
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'purchase', collection: model.purchases %>
  </div>
</div>
