<div class="card is-radiusless" style="background-image: url(<%= rails_blob_url(model.cover) %>); background-size: cover; background-repeat: no-repeat">
  <div class="card-header">
    <p class="card-header-title"><%= model.name %></p>
  </div>
  <div class="card-content">
    <p><%= model.card_uuid %></p>
  </div>
</div>
