<%= form_with theme: 'default_phone', model: @payment, scope: :payment, url: { action: 'update' } do |f| %>
  <div class="form-fields">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
