<div id="tr_<%= model.id %>" class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd">
    <%= yield %>
  </div>
  <div class="weui-media-box__ft">
  <% if model.state_confirmed? %>
    <%= button_to({ action: 'cancel', payment_id: @payment, id: model.id }, class: 'button is-small is-warning') do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span class="pl-1">撤销</span>
    <% end %>
  <% else %>
    <%= button_to({ action: 'update', id: model.id }, method: :patch, class: 'button is-small is-success', form: { id: "edit_payment_order_#{model.id}" }) do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span class="pl-1">核销</span>
    <% end %>
  <% end %>
  </div>
</div>
