<p>
  <%= link_to model.order.uuid, { controller: 'orders', action: 'show', id: model.order_id }, data: { turbo_frame: 'modal' } %>
</p>
<p>
  <span><%= model.order_amount.to_money.format.html_safe %></span>
  <span><%= model.payment_amount.to_money.format.html_safe %></span>
</p>
<p><%= Trade::PaymentOrder.enum_i18n(:state, model.state) %></p>
