<dl id="payment_container" class="as-show is-box mx-3 mb-3">
  <div>
    <dt><%= Trade::Payment.human_attribute_name(:total_amount) %></dt>
    <dd><%= model.total_amount.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Payment.human_attribute_name(:checked_amount) %></dt>
    <dd class="has-text-success"><%= model.checked_amount.to_money.format.html_safe %></dd>
  </div>
</dl>
