<div class="ui segment top attached">
</div>

<div class="ui segment bottom attached items">
  <% @order.order_items.each do |order_item| %>
    <div class="item">

      <div class="content">
        <%= order_item.good&.name %>
        <p><%= order_item.quantity %></p>
      </div>
    </div>
  <% end %>

  <%= link_to '确认订单', my_orders_path, class: 'ui red button', id: 'new_order' %>
</div>
