<%= form_with theme: 'default_phone', model: @scan_payment, url: { action: 'create' }, data: { default_valid_css_value: 'text-danger' }, id: 'scan_payment_form' do |f| %>
  <%= render layout: 'keyboard_form', locals: { f: f, id: 'scan_payment_total_amount' } do %>
    <div
      data-controller="scan"
      data-scan-form-value="scan_payment_form"
      data-action="click->scan#report"
      class="keyboard-button"
      data-report-url="<%= url_for(action: 'create') %>"
    >
      <span>чбошод</span>
    </div>
  <% end %>
<% end %>
