<div class="ui modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    Edit Payment Method
  </div>

  <div class="content">
    <%= form_with model: @payment_method, scope: 'payment_method', url: my_payment_method_path(@payment_method) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
