<div class="ui top attached borderless menu">
  <%= link_to 'My Expenses', my_expense_members_path, class: active_helper(controllers: 'finance_my/expense_members') %>
  <%= link_to 'My Payment Methods', my_payment_methods_path, class: active_helper(controllers: 'payment_methods') %>
</div>
<div class="ui segment attached">
  <%= link_to 'Add New', new_my_payment_method_path, remote: true, class: 'ui teal button' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Account Name</th>
    <th>Account Num</th>
    <th>Bank</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody id="payment_method_tbody">
  <% @payment_methods.each do |payment_method| %>
    <%= render partial: 'item', locals: { payment_method: payment_method } %>
  <% end %>
  </tbody>
</table>
