<p><%= model.payment.type_i18n %></p>
<p>
  <span><%= model.order_amount.to_money.format.html_safe %></span>
  <span><%= model.payment_amount.to_money(model.payment.currency).format.html_safe %></span>
</p>
<p class="has-text-grey">
  <time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time>
</p>
