<div class="weui-form-preview is-box">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:amount) %></label>
      <span class="weui-form-preview__value"><%= model.amount.to_money.format.html_safe %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></label>
      <span class="weui-form-preview__value has-text-danger"><%= model.unreceived_amount.to_money.format.html_safe %></span>
    </div>
  </div>
</div>
