<li><%= link_to t('.additions.index.title'), { controller: 'additions', anchor: "tr_#{@addition.id}" } %></li>
<li><span class="px-3"><%= @addition.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
