<div class="box">
  <% @card_templates.each do |card_template| %>
    <div class="card">
      <div class="card-image">
        <%= image_tag card_template.cover if card_template.cover.present? %>
      </div>
      <div class="card-content">
        <div class="header"><%= card_template.name %></div>
        <div class="description">有效期：<%= card_template.valid_days %>天</div>
      </div>
      <div class="card-footer">
        <%= link_to '充值', { controller: '/trade/advances', card_template_id: card_template.id }, class: 'card-footer-item' %>
      </div>
    </div>
  <% end %>
</div>

