<div class="media">
  <div class="media-left">
    <%= image_tag item.good.logo, class: 'image is-64x64' if item.good.logo.attached? %>
  </div>
  <div class="media-content">
    <h4 class="weui-media-box__title">
      <span><%= item.good.name %></span>
      <span class="tag"><%= item.aim_i18n %></span>
    </h4>
    <p class="weui-media-box__desc">
      <span class="size-7"><%= item.number %></span>
    </p>
  </div>
</div>
