<%= render 'top_bar' %>

<table class="table is-striped is-borderless is-fullwidth">
  <thead>
    <tr class="has-text-weight-normal is-size-7">
      <th>金额</th>
      <th class="has-text-centered">类别</th>
      <th class="has-text-centered">时间</th>
    </tr>
  </thead>
  <%= render partial: 'wallet_log', collection: @wallet_logs, as: :model %>
</table>
