<tr id="add_payment_order">
  <td colspan="11">
    <table class="ui blue table">
      <thead>
      <tr>
        <th>订单ID</th>
        <th>UUID</th>
        <th>水单</th>
        <th>订单金额</th>
        <th>核销金额</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>

      <% unless @payment.have_checked? %>
        <%= render partial: 'orders', collection: @orders, as: :order %>
      <% end %>

      <%= render partial: 'index', collection: @payment.payment_orders, as: :payment_order %>
    </table>
  </td>
</tr>

