<tr id="add_payment_order">
  <td colspan="9">
    <table class="ui basic red table">
      <thead>
      <tr>
        <th>ID</th>
        <th>操作</th>
        <th>
          已核销：
          <span id="checked_amount"><%= @payment.checked_amount %></span>
        </th>
        <th></th>
      </tr>
      </thead>

      <%= render partial: 'orders', collection: @orders, as: :order %>

      <%= render partial: 'index', collection: @payment.payment_orders, as: :payment_order %>

    </table>
  </td>
</tr>

