<tr id="add_payment_order">
  <td colspan="10">
    <table class="ui basic red table">
      <thead>
      <tr>
        <th>订单ID</th>
        <th>UUID</th>
        <th>订单金额</th>
        <th>待核销</th>
        <th>状态</th>
        <th>
          <%= link_to 'Admin Payment Method', admin_payment_methods_path(id: @payment.payment_method_id), target: '_blank' %>
        </th>
      </tr>
      </thead>

      <% unless @payment.have_checked? %>
        <%= render partial: 'orders', collection: @orders, as: :order %>
      <% end %>

      <%= render partial: 'index', collection: @payment.payment_orders, as: :payment_order %>

    </table>
  </td>
</tr>

