<div class="ui modal" id="charge_edit_modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Edit Charge
  </div>

  <div class="content">
    <%= default_form_with model: @charge, scope: :charge, url: admin_promote_charge_path(@promote, @charge), method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
