<div class="ui modal" id="charge_new_modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Add New Charge
  </div>

  <div class="content">
    <%= form_with model: @charge, scope: :charge, url: admin_serve_charges_path(@serve) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
