<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.carts.index.title'), { controller: 'carts' } %></li>
    <li><span class="px-3"><%= @cart.user_id %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
