<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.promotes.index.title'), { controller: 'promotes' } %></li>
    <li><span class="px-3"><%= @promote.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
