<%= form_with theme: 'search', model: Trade::PromoteGood.new do |f| %>
  <div class="field-body">
    <%= f.text_field :good_type %>
    <%= f.text_field :good_id %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>

