<div class="panel-block" data-action="click->typer#choose" data-id="<%= model.id %>" data-name="<%= model.user.name || model.member&.name %>">
  <span><%= model.user.name %></span>
  <span><%= model.member&.name %></span>
</div>
