<div class="weui-cell">
  <%= f.number_field :total_amount, all: { normal: nil }, min: 0.01, readonly: true, class: 'weui-input has-text-right' %>
  <div class="weui-cell__ft pl-0">
    <span id="dot" hidden>.</span>
    <span class="pl-2">元</span>
  </div>
</div>
