<%= form_with theme: 'weui', model: @payment, url: { action: 'create' }, state: 'return', data: { default_valid_css_value: 'has-text-danger' } do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells__title"><%= t('.title') %></div>
      <div class="weui-cells">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
    </div>
  </div>
  <div class="weui-form__opr-area">
    <div
      data-controller="keyboard"
      data-keyboard-id-value="wxpay_payment_total_amount"
      data-keyboard-dot-value="dot"
      data-keyboard-digit-value="2"
      class="number_keyboard"
    >
      <div class="keyboard-left">
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">1</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">2</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">3</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">4</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">5</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">6</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">7</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">8</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#enter">9</div>
        </div>
        <div class="keyboard-item width-2x">
          <div data-action="click->keyboard#enter">0</div>
        </div>
        <div class="keyboard-item width-1x">
          <div data-action="click->keyboard#dot">.</div>
        </div>
      </div>
      <div class="keyboard-right">
        <div class="keyboard-item height-1x">
          <div data-action="click->keyboard#backspace"><i class="fa-solid fa-arrow-left"></i></div>
        </div>
        <div class="keyboard-item height-3x">
          <div class="keyboard-button">
            <%= f.submit '付款', all: { submit: nil }, class: 'button is-borderless' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
