<div class="menu-list">
  <%= link_to({ controller: 'trade/in/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <div>
      <i class="fa-solid fa-fw fa-shopping-cart"></i>
      <span><%= t('trade.in.title') %></span>
    </div>
  <% end %>
  <div class="pl-4">
    <%= link_to t('trade.in.orders.index.title'), { controller: 'trade/in/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'trade/in/orders', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('trade.in.payments.index.title'), { controller: 'trade/in/payments' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'trade/in/orders', item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
