<div data-controller="menu empty" class="<%= active_helper(modules: ['trade/in'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-shopping-cart"></i>
    <span><%= t('trade.in.title') %></span>
    <i class="fa-solid fa-fw dropdown"></i>
  </a>
  <div data-empty-target="content" class="menu-list">
    <%= link_to t('trade.in.orders.index.title'), { controller: 'trade/in/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.in.carts.index.title'), { controller: 'trade/in/carts' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'carts', active: 'is-active') %>
  </div>
</div>
