<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.orders.index.title'), { controller: 'orders' } %></li>
    <li><span class="px-3"><%= @order.uuid %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
