<tr>
  <td></td>
  <td>
    <%= link_to({ controller: 'order_payments', action: 'new', order_id: @order.id }, data: { turbo_frame: 'modal' }, class: 'button is-danger is-large') do %>
      <i class="fa-solid fa-fw fa-receipt"></i>
      <span class="pl-1">立即支付</span>
    <% end %>
  </td>
</tr>
