<%= link_to({ controller: 'order_payments', action: 'new', order_id: @order.id }, class: 'media is-boxed') do %>
  <div class="media-left">
    <i class="fa-solid fa-fw fa-receipt"></i>
  </div>
  <div class="media-content">
    <span>上传支付凭证</span>
  </div>
  <div class="media-right"></div>
<% end %>
