<table class="table is-fullwidth is-borderless as-show">
  <tbody>
    <tr>
      <td class="text-right"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></td>
      <td class="text-danger"><%= @order.unreceived_amount.to_money.format.html_safe %></td>
    </tr>
    <% @order.payment_orders.each do |payment_order| %>
      <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
        <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
        <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td>
        <button class="button is-danger is-large">立即支付</button>
      </td>
    </tr>
  </tbody>
</table>
