<div class="sixteen wide column">
  <div class="ui segment breadcrumb">
    <%= link_to '服务列表', my_facilitate_providers_path, class: 'section' %>
    <div class="divider"> > </div>
    <div class="section"><%= @facilitate_provider.facilitate.name %></div>
  </div>

  <%= render partial: 'top_bar', locals: { facilitate_provider: @facilitate_provider } %>

</div>

