<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(action: 'desk', active: 'is-active') %>">
      <%= link_to t('.desk.title'), { action: 'desk' } %>
    </li>
    <li class="<%= active_helper(action: 'desk_history', active: 'is-active') %>">
      <%= link_to t('.desk_history.title'), { action: 'desk_history' } %>
    </li>
  </ul>
</div>
