<nav class="level is-flex">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">未付总额</p>
      <p class="title"><%= @orders.sum(:unreceived_amount).to_money.format(:html_wrap).html_safe %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">已收款</p>
      <p class="title"><%= @orders.sum(:received_amount).to_money.format(:html_wrap).html_safe %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">订单总额</p>
      <p class="title"><%= @orders.sum(:amount).to_money.format(:html_wrap).html_safe %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">订单数</p>
      <p class="title"><%= @orders.count %></p>
    </div>
  </div>
</nav>
