<div class="weui-cell weui-cell_access" data-controller="weui-dialog" data-weui-dialog-id-value="payment_strategy_dialog" data-action="click->weui-dialog#toggle">
  <div class="weui-cell__hd">
    <span class="has-text-grey">付款方式</span>
  </div>
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">
  <% if @order.payment_strategy %>
    <span><%= @order.payment_strategy.name %></span>
    <span class="tag"><%= @order.payment_strategy.from_pay_i18n %></span>
  <% else %>
    <span>选择</span>
  <% end %>
  </div>
</div>

<div data-controller="weui-dialog" id="payment_strategy_dialog" class="weui-dialog__wrap">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">付款方式</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <div class="weui-cells weui-cells_radio">
      <% @payment_strategies.each do |payment_strategy| %>
        <%= form.radio_button :payment_strategy_id, payment_strategy.id, label: payment_strategy.name, label_position: 'before', origin: { label: 'weui-cell__bd' }, form: 'new_order' %>
      <% end %>
      </div>
    </div>
    <div class="weui-half-screen-dialog__ft">
      <%= button_tag '确认', class: 'weui-btn weui-btn_primary', form: 'new_order' %>
    </div>
  </div>
</div>
