<%= f.text_field :good_name, form: 'new_order' %>
<div class="field">
  <label class="label color-grey"><%= Trade::Item.human_attribute_name(:number) %></label>
  <div data-controller="modify input" class="field has-addons">
    <div class="control">
      <button data-action="click->modify#minus" class="button">
        <i class="fa-solid fa-minus has-text-grey-dark size-4"></i>
      </button>
    </div>
    <div class="control is-expand">
      <%= f.number_field :number, step: 1, all: { normal: nil }, wrap: { input: nil }, label: nil, data: { coeff_target: 'quantity', modify_target: 'input', action: 'change->coeff#updateQuantity focus->input#blank' }, form: 'new_order', class: 'input' %>
    </div>
    <div class="control">
      <%= f.collection_select :unit_id, Trade::Unit.all, :id, :name, { label: nil }, { form: 'new_order' } %>
    </div>
    <div class="control">
      <button data-action="click->modify#plus" class="button">
        <i class="fa-solid fa-plus has-text-grey-dark size-4"></i>
      </button>
    </div>
  </div>
</div>
