<% (1..3).each do |hour| %>
<div class="weui-media-box weui-media-box_text">
  <div class="weui-media-box__title">
    <span>现在</span>
  </div>
  <div class="pt-4" data-controller="custom">
  <% TimeHelper.step.each_with_index do |arr, index| %>
    <label class="button is-small mb-2 <%= arr.include?(index) ? 'is-success' : '' %>" for="part_<%= "#{hour}_#{index}" %>">
      <span><%= arr.join('-') %></span>
    </label>
  <% end %>
  </div>
</div>
<% end %>
