<% (1..3).each do |hour| %>
<div class="weui-media-box weui-media-box_text">
  <div class="weui-media-box__title">
    <span>现在</span>
  </div>
  <div class="pt-4" data-controller="custom">
  <% TimeHelper.step.each_with_index do |arr, index| %>
    <button
      class="button is-small mb-2 <%= arr.include?(index) ? 'is-success' : '' %>"
      data-action="time-range#time"
      data-start-at="<%= Time.current.change(hour: arr[0][0..1], min: arr[0][-2..-1]).to_fs(:iso8601) %>"
      data-finish-at="<%= Time.current.change(hour: arr[1][0..1], min: arr[1][-2..-1]).to_fs(:iso8601) %>"
    >
      <span><%= arr.join('-') %></span>
    </button>
  <% end %>
  </div>
</div>
<% end %>
