<tr>
  <td class="has-text-right"><%= Trade::TradePromote.human_attribute_name(:amount) %></td>
  <td><%= @trade_promote.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::TradePromote.human_attribute_name(:note) %></td>
  <td><%= @trade_promote.note %></td>
</tr>
