<tr>
  <% model.item_promotes.each do |item_promote| %>
    <p><%= item_promote.promote&.name %>: <%= item_promote.amount.to_money.format(html_wrap: true).html_safe %></p>
  <% end %>
</tr>
<p><%= model.good&.quantity %><%= model.good&.unit %></p>
