<div>
  <p>Export price:</p>
  <p></p>
  <% model.trade_promotes.each do |trade_promote| %>
    <p><%= trade_promote.promote.name %>: <%= trade_promote.amount %></p>
  <% end %>
</div>
<p><%= model.good&.quantity %><%= model.good&.unit %></p>
