<div>
  <p>Export price:</p>
  <p></p>
  <% model.item_promotes.each do |item_promote| %>
    <p><%= item_promote.promote&.name %>: <%= item_promote.amount %></p>
  <% end %>
</div>
<p><%= model.good&.quantity %><%= model.good&.unit %></p>
