<div class="tabs is-centered is-boxed mb-3">
  <%= link_to({ action: 'index' }, class: active_helper(action: 'index', active: 'is-active')) do %>
    <i class="fa-solid fa-tree"></i>
    <span class="pl-1"><%= t('.index.title') %></span>
  <% end %>
  <%= link_to({ action: 'purchase' }, class: active_helper(action: 'purchase', active: 'is-active')) do %>
    <i class="fa-solid fa-cogs"></i>
    <span class="pl-1"><%= t('.purchase.title') %></span>
  <% end %>
</div>
