<div class="row">

  <div class="col-md-3">
    <%= render 'member/nav' %>
  </div>

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to '编辑信息', edit_user_registration_path %></div>
    </div>


  </div>

</div>


