<div class="box is-padding-less">
  <div class="box-header">
    <div class="is-several">
      <%= image_tag @item.good.logo, class: 'image is-64x64' %>
      <span><%= @item.good_name %></span>
    </div>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'item', locals: { model: @item } %>
  </div>
</div>

<%= render partial: 'hold', collection: @item.holds, as: :model %>

