<div class="">

  <div class="ui breadcrumb">
    <%= link_to '返回', admin_areas_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">编辑</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>

</div>



