<div class="row">
  <div class="col-md-3">
    <%= render 'member/nav' %>
  </div>

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to '新建', new_photo_path %></div>
    </div>
    <% @photos.each do |photo| %>
    <div class="col-md-3">
      <div class="thumbnail thumbnail-product">
        <%= link_to photo_path(photo) do %>
          <%= image_tag photo.photo_url, :alt => photo.title %>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>

</div>




