<div>
  <dt><%= Trade::ItemPromote.human_attribute_name(:amount) %></dt>
  <dd><%= @item_promote.amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::ItemPromote.human_attribute_name(:item_id) %></dt>
  <dd><%= @item_promote.item_id %></dd>
</div>
