<tr>
  <td class="has-text-right"><%= Trade::ItemPromote.human_attribute_name(:amount) %></td>
  <td><%= @item_promote.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::ItemPromote.human_attribute_name(:sequence) %></td>
  <td><%= @item_promote.sequence %></td>
</tr>
