<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    <%= t('.title') %>
  </div>

  <div class="content">
    <% ['alipay', 'wxpay_pc'].each do |payment_type| %>
      <%= link_to payment_type, "/my/orders/#{@order.id}/#{payment_type}_pay", remote: payment_type == 'alipay' %>
    <% end %>
  </div>
</div>
