<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header">
    <%= t('.title') %>
  </div>

  <div class="content">
    <% ['alipay', 'wxpay'].each do |payment_type| %>
      <%= link_to payment_type, "/my/orders/#{@order.id}/#{payment_type}_pay", remote: true %>
    <% end %>
  </div>
</div>
