

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash text-danger"></i>
      <% end %>
    </div>
  </td>

