<div class="hero-body container">
  <div class="tile is-parent">
    <div>
      <p class="title"><%= t('.title') %></p>
      <p><%= t('.tip') %></p>
      <%= link_to t('trade.my.orders.index.title'), { controller: 'trade/my/orders', action: 'index' } %>
    </div>
  </div>
</div>
