<div class="hero-body container">
  <div class="tile is-parent">
    <div>
      <p class="title"><%= t('.title') %></p>
      <p><%= t('.tip') %></p>
      <% if model.client_id %>
        <%= link_to t('factory.in.orders.index.title'), { controller: 'factory/in/orders', action: 'index' } %>
      <% else %>
        <%= link_to t('trade.my.orders.index.title'), { controller: 'trade/my/orders', action: 'index' } %>
      <% end %>
    </div>
  </div>
</div>
