<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseWXPay'] -%>
<% end %>

<% if @orders.blank? %>
  <p class="has-text-centered">暂无订单</p>
<% end %>

<%= render partial: 'order', collection: @orders, as: :model %>
