<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>
      <%= form_with model: @order, url: { action: 'create' }, id: 'new_order' do %><% end %>
    </th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% current_cart.trade_items.checked.each do |trade_item| %>
    <tr>
      <td>
        <%= trade_item.good_name %>
      </td>
      <td></td>
      <td><%= trade_item.number %></td>
      <td></td>
    </tr>
  <% end %>

  <tfoot>
  <tr>
    <th colspan="5">
      <%= submit_tag '确认订单', class: 'button is-primary', form: 'new_order' %>
    </th>
  </tr>
  </tfoot>
</table>
