<div class="weui-media-box weui-media-box_small-appmsg">
  <div class="weui-cells weui-cells_radio">
    <label class="weui-cell weui-cell_active weui-check__label">
      <span class="weui-cell__bd">微信支付</span>
      <span class="weui-cell__ft">
        <%= radio_button_tag 'test', 'd', true, class: 'weui-check' %>
        <span class="weui-icon-checked"></span>
      </span>
    </label>
  </div>
</div>
