<table class="table is-fullwidth is-borderless as-show">
  <tbody>
    <%= render partial: 'card', collection: current_user.cards, as: :card %>
    <tr>
      <td class="has-text-right">待支付</td>
      <td><%= @order.remaining_amount.to_money %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">
        <button class="button is-danger is-large">立即支付</button>
      </td>
    </tr>
  </tbody>
</table>
