<tr>
  <td>
    <div class="<%= ['unused'].include?(model.state) ? 'has-text-success' : 'has-text-danger' %> tag"><%= model.state_i18n %></div>
  </td>
  <td><%= model.promote.name %></td>
  <td class="has-text-right">
    <time data-controller="time"><%= model.expire_at.to_fs(:iso8601) if model.expire_at.present? %></time>
  </td>
</tr>
