<% if @promote_goods.blank? %>
<div class="box is-radiusless">
  <p class="has-text-centered has-text-grey">暂无优惠券</p>
</div>
<% else %>
<table class="table is-striped is-borderless is-fullwidth">
  <%= render partial: 'promote_good', collection: @promote_goods, as: :model %>
</table>
<% end %>
