<% @card_templates.each do |card_template| %>
<div class="level is-flex pt-4 pl-4 mb-0">
  <div class="level-left"><%= card_template.name %></div>
  <div class="level-right">

  </div>
</div>
<% end %>
