<div class="has-border-top has-background-light">
  <%= render partial: 'purchase', collection: @card_templates, as: :card_template %>
  <div class="level is-flex py-2 pl-4 mb-2">
    <%= render 'cart_item' %>
  </div>
</div>
