<%= render 'cart_promotes' %>
<div class="has-border-top background-light">
  <%= render partial: 'cart_purchase', collection: @card_templates, as: :card_template %>
  <%= render 'cart_footer' %>
</div>
