<div class="weui-tabbar_fixed">
  <div class="weui-tabbar">
    <div class="weui-tabbar__item">
    
    </div>
    <div class="weui-tabbar__item">
      <div class="weui-tabbar__content">
        <%= Trade::Cart.human_attribute_name(:amount) %>:<%= current_cart.amount if current_cart %>
      </div>
    </div>
    <div class="weui-tabbar__item">
    <% if @checked_ids.present? %>
      <%= link_to '结算', { controller: 'orders', action: 'new' }, class: 'weui-btn weui-btn_primary' %>
    <% else %>
      <button class="weui-btn weui-btn_primary weui-btn_disabled">结算</button>
    <% end %>
    </div>
  </div>
  <div class="weui-tabbar">
    <%= render 'tab_bar_item' %>
  </div>
</div>
