<div class="weui-tabbar weui-tabbar_fixed">
  <%= link_to({ controller: '/factory/products' }, class: 'weui-tabbar__item') do %>
    <i class="fas fa-store-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">产品</div>
  <% end %>
  <div class="weui-tabbar__item">
    <%= form_with theme: nil, url: { controller: 'orders' } do |f| %>
      <%= f.submit t('helpers.submit.next'), class: 'weui-btn weui-btn_primary' %>
    <% end %>
  </div>
</div>
