<%= form_with(model: facilitate_provider, local: true) do |form| %>
  <% if facilitate_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facilitate_provider.errors.count, "error") %> prohibited this facilitate_provider from being saved:</h2>

      <ul>
      <% facilitate_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
