<%= form_with theme: 'default_phone', model: model, scope: model_name, url: { action: 'update' }, state: 'redirect' do |f| %>
  <div class="form-fields">
    <%= f.number_field :deposit_ratio %>
  </div>
  <%= f.submit %>
<% end %>
