<%= render 'head' %>

<%# render 'address' unless @cart.aim == 'invest' %>

<div id="cart_body" class="mt-3">
  <%= render partial: 'item', collection: @items, as: :model %>
</div>

<%= render 'promote' %>
