<table class="table is-fullwidth is-hoverable">
  <thead>
    <%= render 'index_thead' %>
  </thead>
  <tbody>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: @items, as: :model %>
    <%= render partial: 'cart_promote', layout: 'cart_promote_tr', collection: @cart.cart_promotes, as: :model %>
    <%= render 'show_total' %>
  </tbody>
</table>
