<%= search_form_with css: { wrapper_all: 'inline field', wrapper_input: 'field', wrapper_submit: 'field', submit: 'ui green button'} do |f| %>
  <div class="fields">
    <%= f.text_field :value, placeholder: 'Value' %>
    <% @serve.extra.each do |extra| %>
      <%= f.text_field extra, placeholder: extra %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>

