<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Buyers Overview with orders</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <p>
      <span>State:</span>
      <%= link_to 'All', filter_params(except: [:payment_status]), class: active_params(payment_status: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    </p>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>类型</th>
      <th>名称</th>
      <th>负责人</th>
      <th>逾期数量</th>
      <th>逾期金额</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= render partial: 'item', collection: @orders, as: :order %>
    </tbody>
  </table>

  <%= paginate @orders %>
</div>
