<div class="">

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_payment_strategies_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Add New</div>
  </div>

  <div class="ui segment">
    <%= render 'form' %>
  </div>

</div>
