<%= form_with theme: 'search', model: Trade::WalletLog.new do |f| %>
  <div class="field-body">
    <%= f.text_field :user_id %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
