<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to t('.index.title'), { action: 'index' } %>
    </li>
    <li class="<%= active_helper(action: 'history', active: 'is-active') %>">
      <%= link_to t('.history.title'), { action: 'history' } %>
    </li>
  </ul>
</div>
