<div class="buttons are-small mb-0 pt-2">
  <%= link_to({ controller: 'profiled/my/addresses', action: 'new' }, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
    <i class="fa-solid fa-plus"></i><span><%= t('.new') %></span>
  <% end %>
</div>

<%= form_with theme: nil, model: current_cart, url: { action: 'update' }, id: 'cart_address' do %>
<% end %>

<table class="table is-hoverable is-fullwidth">
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
