<tr id="tr_<%= model.id %>" data-controller="show input" data-action="mouseenter->show#show mouseleave->show#hide">

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'profiled/my/addresses', action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
      <%= button_to({ controller: 'profiled/my/addresses', action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <%= svg_tag 'trash', class: 'icon' %>
      <% end %>
    </div>
  </td>

