<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.card_templates.index.title'), { controller: 'card_templates' } %></li>
    <li><%= link_to t('trade.admin.cards.index.title'), { controller: 'cards', id: @card.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
