<div class="container">
  <ul class="breadcrumb">
    <li><%= link_to '全部地区', admin_areas_path %></li>
    <li>新增</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>

</div>
