<% if @maintain %>
  <%= link_to({ controller: 'crm/me/productions', maintain_id: @maintain.id, payment_id: @payment.id }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
    <%= svg_tag 'plus' %>
    <span><%= t('crm.me.productions.index.title') %></span>
  <% end %>
<% end %>
