<div class="ui popup" id="show_good_<%= @good.id %>">
  <div class="content">
    <div class="ui items">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <%= @good.sku %>
        </div>
      </div>
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <%= @good.unit %>
        </div>
      </div>
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <%= @good.price %>
        </div>
      </div>
    </div>
  </div>
</div>