<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.carts.index.title'), { controller: 'carts', id: @cart.id } %></li>
    <li class="is-active"><%= @cart.user.name %></li>
  </ul>
</div>
