<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.carts.index.title'), { controller: 'carts', anchor: "tr_#{@cart.id}" } %></li>
    <li class="is-active"><%= @cart.user.name %></li>
  </ul>
</div>
