<tr class="has-background-warning">
  <td></td>
  <td>
    <span><%= model.promote&.name %></span>
    <span class="has-text-grey">（<%= model.promote_id %>）</span>
  </td>
  <td></td>
  <td><%= model.status_i18n %></td>
  <td colspan="3"></td>
  <td><%= model.amount.to_money.format(html_wrap: true).html_safe %></td>
</tr>
