<td><%= model.good_name %></td>
<td>
  <span class="text-danger"><%= model.single_price.to_money.format.html_safe %></span>
</td>
<td><%= model.number.to_human %></td>
<td>
  <span class="text-danger"><%= model.amount.to_money.format.html_safe %></span>
</td>
