<%= link_to({ action: 'blacklist_new', id: @promote_good.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link mb-2') do %>
  <i class="fa-solid fa-plus"></i>
  <span><%= t('.new') %></span>
<% end %>
