<%= link_to({ action: 'blacklist_new', id: @promote_good.id }, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
  <i class="fa-light fa-plus"></i>
  <span><%= t('.new') %></span>
<% end %>
