<ul class="breadcrumb">
  <li class="first"><%= link_to '所有套餐', producer_products_path(@producer) %></li>

  <% forefathers(@taxon).each do |sort| %>
    <li><%= link_to sort.name, producer_products_path(@producer, :type=>sort.id) %></li>

    <% end %>


  <li>
    <%= link_to @taxon.name, producer_products_path(@producer, :type => params[:type]) %>
  </li>

</ul>