<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.cards.index.title'), { controller: 'cards' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
