<div class="ui modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Add Address
  </div>

  <div class="content">
    <%= form_with model: [:admin, @address], remote: true do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>