<%= link_to({ controller: 'trade/agent/orders' }, class: 'column has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('trade.agent.orders.index.title') %></div>
<% end %>
