<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd is-flex is-justify-content-space-between">
    <div>
      <i class="fa-solid fa-fw fa-cash-register has-text-primary"></i>
      <span><%= t('trade.me.title') %></span>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'trade/me/items' }, state: 'enter', class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-list"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('trade.admin.orders.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
