<tr>
  <td><%= Trade::CartPromote.human_attribute_name(:amount) %></td>
  <td><%= @trade_promote.amount %></td>
</tr>
<tr>
  <td><%= Trade::CartPromote.human_attribute_name(:note) %></td>
  <td><%= @trade_promote.note %></td>
</tr>
