<div>
  <dt><%= Trade::CartPromote.human_attribute_name(:amount) %></dt>
  <dd><%= @trade_promote.amount %></dd>
</div>
<div>
  <dt><%= Trade::CartPromote.human_attribute_name(:note) %></dt>
  <dd><%= @trade_promote.note %></dd>
</div>
