<% @additions.promote_charges.each do |charge| %>
  <tr class="error">
    <td></td>
    <td><%= charge.item.name %></td>
    <td colspan="3"></td>
    <td><%= charge.subtotal %></td>
    <td colspan="3"></td>
  </tr>
<% end %>
<% @additions.serve_charges.each do |charge| %>
  <tr class="warning">
    <td></td>
    <td><%= charge.item.name %></td>
    <td colspan="3"></td>
    <td><%= charge.subtotal %></td>
    <td colspan="3"></td>
  </tr>
<% end %>


