<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.promotes.index.title'), { controller: 'promotes' } %></li>
    <% if params[:promote_good_id] %>
      <li><%= @promote_good.promote.name %></li>
      <li><%= @promote_good.good_type_i18n %></li>
    <% end %>
    <li class="is-active">派发用户</li>
  </ul>
</div>
