<tr>
  <td><%= promote_cart.cart_id %></td>
  <td><%= promote_cart.promote.name %></td>
  <td><%= promote_cart.state_i18n %></td>
  <td>
    <%= link_to({ action: 'destroy', id: promote_cart.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
