<div class="as-bar">
  <%= link_to({ controller: 'card_templates', action: 'show', id: @card.card_template_id }, class: 'px-4') do %>
    <%= svg_tag 'angle-left', kind: 'regular' %>
  <% end %>
  <span class="bar-title">
    <span class="mr-1"><%= t('.title') %></span>
  </span>
  <i class="px-5"></i>
</div>
