<div class="box is-padding-less">
  <div class="box-header as-bar">
    <%= link_to({ action: 'index' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left' %>
      <span><%= t('trade.my.wxpay_payments.index.title') %></span>
    <% end %>
    <div class="weui-title"></div>
    <%= button_to({ action: 'actions' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h"></i>
    <% end %>
  </div>
</div>
