<ul class="breadcrumb">
  <li><%= link_to @good.producer.name, producer_series_path(@good.producer) %></li>
  <li><%= link_to @good.name, good_path(@good) %></li>
  <li><%= link_to '组成管理', good_good_items_path(@good) %></li>
  <li>编辑</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>



