<% content_for :title, t('layouts.navbar.product') %>

<div class="ui grid page">

<div class="four wide column">

  <%= render 'nav' %>

</div>

<div class="twelve wide column">

  <div class="ui segment">
    <div class="panel-heading">
      推荐产品
      <span class="pull-right">共有商品数：<%= Good.count %></span>
    </div>
  </div>

  <div class="ui items">
    <%= render :partial => 'good', :collection => @goods, :as => :good %>
  </div>

  <div class="text-center">
    <%= paginate @goods %>
  </div>

</div>
</div>





