<%= link_to({ controller: 'trade/our/items' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-list has-text-primary"></i>
    <span><%= t('trade.our.orders.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
