<p>
  <span class="has-text-danger"><%= model.total_amount.to_fs(:rounded, precision: @wallet.wallet_template.digit) %></span>
  <span class="has-text-grey"><%= model.wallet.wallet_template.unit %></span>
</p>
<p><%= model.comment %></p>
<p class="is-size-7 has-text-grey"><time data-controller="time"><%= model.notified_at&.to_fs(:iso8601) %></time></p>
