<%= form_for @sign, :url => user_signs_path, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :sign_id, "上级分类：", :class => "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.collection_select :sign_id, Sign.all, :id, :name, { :include_blank => true }, {  } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-5">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>


<script>
  $('#sign_import_sign_id').select2();
</script>
