<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.card_templates.index.title'), { controller: 'card_templates' } %></li>
    <% if @card_template %>
      <li><span class="px-3"><%= @card_template.name %></span></li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
