<%= form_with theme: 'modal', model: @order, scope: nil, url: { action: 'desk_update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">选择包房</div>
    </div>
    <%= f.collection_select :desk_id, @desks, :id, :name, include_blank: true %>
  </section>
  <%= f.submit %>
<% end %>
