<div data-controller="sticky-bottom" class="sticky-bottom flex justify-content-space-around p-3 my-neg-3">
  <%= link_to({ action: 'new' }, class: 'button is-medium') do %>
    <i class="fa-solid fa-plus"></i>
    <span><%= t('.new.title') %></span>
  <% end %>
</div>