<div class="buttons are-small mb-0">
  <%= button_to t('.new.title'), { action: 'new' }, class: 'button is-link' %>
  <%= button_to t('.import'), { controller: 'datum/panel/table_lists', action: 'new_import', data_list_id: 'PaymentImport' }, class: 'button is-success' %>
</div>
