<div data-controller="sticky-bottom" class="sticky-bottom">
  <%= link_to({ action: 'new' }, class: 'button is-medium') do %>
    <%= svg_tag 'plus' %>
    <span><%= t('.new.title') %></span>
  <% end %>
</div>