<div class="has-text-centered my-2">
  <span>有效期至：</span>
  <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= @card.expire_at.to_fs(:iso8601) %></time>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr class="has-text-centered has-text-weight-normal is-size-7">
      <th>有效周期</th>
      <th>
        <p class="has-text-success">有效期至</p>
        <p class="has-text-grey">有效期起</p>
      </th>
      <th>充值时间</th>
    </tr>
  </thead>
  <%= render partial: 'card_purchase', collection: @card_purchases, as: :model %>
</table>
