<%= render 'index_bar' %>

<%= render layout: 'index_table' do %>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @promote_goods, as: :model %>
<% end %>

<table class="table is-fullwidth as-boxed">
  <%= render partial: 'promote_tbody', collection: @promotes, as: :model %>
</table>