<li><%= link_to t('.promote_goods.index.title'), { controller: 'promote_goods' } %></li>
<li><span class="px-3"><%= @promote_good.promote.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
