<%= link_to({ controller: 'trade/mem/wallet_templates', action: 'show', id: wallet_template.id }, state: 'enter', class: 'column is-one-third has-block-centered') do %>
  <div class="is-several">
    <%= image_tag wallet_template.logo, class: 'image is-16x16' if wallet_template.logo.attached? %>
    <span class="ml-1 has-text-grey-dark is-size-7"><%= wallet_template.name %></span>
  </div>
  <div class="has-text-weight-medium has-text-danger-dark is-family-zhushi is-size-5">待开通</div>
<% end %>
