<% current_cart.trade_promotes.each do |trade_promote| %>
  <tr class="error">
    <td></td>
    <td><%= trade_promote.promote.name %></td>
    <td></td>
    <td></td>
    <td><%= trade_promote.amount %></td>
    <td></td>
  </tr>
<% end %>
