<table class="table is-fullwidth">
  <thead>
    <tr>
      <%= render 'show_thead' %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'trade_item', collection: @trade_items, as: :trade_item %>
  </tbody>
  <%= render 'total_price' %>
  <tfoot>
    <tr>
      <th colspan="5"></th>
      <th>
        <%= link_to '去结算', { controller: 'orders', action: 'new' }, class: 'button is-primary', id: 'new_order' %>
      </th>
    </tr>
  </tfoot>
</table>
