<table class="table is-fullwidth">
  <thead>
    <tr>
      <%= render 'show_thead' %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'item', collection: @items, as: :item %>
  </tbody>
  <%= render 'total_price' %>
  <tfoot>
    <tr>
      <th colspan="5"></th>
      <th>
      <% if @checked_ids.present? %>
        <%= link_to '去结算', { controller: 'orders', action: 'new' }, class: 'button is-primary', id: 'new_order' %>
      <% else %>
        <button class="button is-primary" disabled>去结算</button>
      <% end %>
      </th>
    </tr>
  </tfoot>
</table>
