<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-cell_active weui-check__label">
          <span class="weui-cell__hd is-several">
            <span class="weui-badge">个人版</span>
          </span>
          <span class="weui-cell__bd"></span>
          <span class="weui-cell__ft" data-controller="input">
            <%= form_with theme: nil, scope: 'cart', url: { action: 'current' } do |f| %>
              <%= hidden_field_tag :return_to, params[:return_to] %>
              <%= f.check_box :current, value: true, checked: current_cart.member_id.nil?, class: 'weui-check', data: { action: 'input#form' } %>
              <span class="weui-icon-checked"></span>
            <% end %>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'organs_cart', collection: @members, as: :model %>
