<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-panel__hd">企业用餐</div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'organs_cart', collection: @members, as: :model %>
    </div>
  </div>
</div>
