<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-panel__hd">企业用餐</div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'organs_cart', collection: @members, as: :model %>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
  <% @roles.each do |role| %>
    <%= link_to({ controller: 'org/board/organs', action: 'new', role_id: role.id }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= role.tip %></span>
    <% end %>
  <% end %>
  </div>
</div>
