<%= turbo_stream.append 'body' do %>
<% if request.headers['Turbo-Frame'] == 'modal' && request.headers['Redirect'] %>
  <div data-controller="visit" data-visit-frame-value="modal" data-visit-url-value="<%= request.headers['Redirect'] %>"></div>
<% else %>
  <div data-controller="visit"></div>
<% end %>
<% end %>
