

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ action: 'carts', id: model.id }, aria: { label: t('trade.panel.items.carts.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-cart-shopping"></i>
      <% end %>
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
      <% end %>
    </div>
  </td>

