<%= link_to({ controller: 'payments', action: 'order_new', order_id: @order.id }, class: 'media') do %>
  <div class="media-left">
    <i class="fa-solid fa-fw fa-receipt"></i>
  </div>
  <div class="media-content">
    <span>上传支付凭证</span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
