<%= link_to({ controller: 'payments', action: 'wxpay', order_id: @order.id }, data: { controller: 'mini-program', action: 'mini-program#link', mini_program_url_value: "/pages/trade/my/orders/wxpay_pay?url=#{url_for(controller: 'payments', action: 'wxpay', order_id: @order.id, only_path: false)}" }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
  <div class="weui-cell__hd">
    <%= image_tag 'wx_pay.png', class: 'image fa-fw' %>
  </div>
  <div class="weui-cell__bd weui-cell_primary">
    <span>微信支付</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
