<%= form_with theme: 'modal', model: @order, url: { action: 'adjust_update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.number_field :amount, autofocus: true %>
  </section>
  <%= f.submit %>
<% end %>
