<div class="column is-one-third has-background-light is-flex-direction-column has-text-grey has-text-centered">
  <%= image_tag privilege.logo, class: 'image is-128x128' %>
  <div class="header"><%= privilege.name %></div>
</div>
