<div class="cell has-column-centered p-3">
  <div class="header color-grey"><%= privilege.name %></div>
  <figure class="image is-1by1 pt-2 is-skeleton">
    <%= image_tag privilege.logo if privilege.logo.attached? %>
  </figure>
</div>
