<div class="column is-one-third flex-direction-column has-text-grey has-text-centered">
  <div class="header"><%= privilege.name %></div>
  <%= image_tag privilege.logo, class: 'image is-1by1 pt-2' if privilege.logo.attached? %>
</div>
