<div class="cell has-column-centered p-3">
  <div class="header color-grey"><%= privilege.name %></div>
  <%= image_tag privilege.logo, class: 'image is-1by1 pt-2' if privilege.logo.attached? %>
</div>
