<div class="column is-one-third is-flex-direction-column has-text-grey has-text-centered">
  <div class="header"><%= privilege.name %></div>
  <%= image_tag privilege.logo, class: 'image is-128x128' %>
</div>
