<div class="item">
  <span class="header">订单</span>
  <div class="menu">
    <%= link_to '购物车', my_carts_path, class: active_helper(controllers: ['carts']) %>
    <%= link_to '我的订单', my_orders_path, class: active_helper(controllers: ['orders']) %>
  </div>
</div>



