<%= form_with theme: 'search', model: Trade::Wallet.new, url: { action: params[:action] } do |f| %>
  <div class="field-body">
    <%= f.text_field 'name-like' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: ['name-like']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
