<div class="tabs my-2">
  <ul class="justify-content-space-around">
  <% @card_templates.each do |card_template| %>
    <li class="<%= active_helper(action: 'show', id: card_template.id, active: 'is-active') %>">
      <%= link_to({ action: 'show', id: card_template.id }) do %>
        <div class="is-several justify-content-center">
          <%= image_tag card_template.logo, class: 'image is-16x16' if card_template.logo.attached? %>
          <span class="ml-1 is-size-7 has-text-grey"><%= card_template.name %></span>
        </div>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
