<%= render 'menu' %>

<div>
<% if @card %>
  <%= render partial: 'card', locals: { model: @card } %>
<% else %>
  <%= render partial: 'card_template', locals: { model: @card_template } %>
<% end %>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">
    <span class="level-left">会员特权</span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns m-4 is-flex is-multiline is-mobile">
      <%= render partial: 'privilege', collection: @card_template.privileges, as: :privilege %>
    </div>
  </div>
</div>
