<%= render 'menu' %>

<% if @card %>
  <%= render partial: 'card', locals: { model: @card } %>
<% else %>
  <%= render partial: 'card_template', locals: { model: @card_template } %>
<% end %>

<div class="box is-padding-less mx-3" data-controller="empty">
  <div class="box-body">会员特权</div>
  <div data-empty-target="content" class="fixed-grid has-3-count">
    <div class="grid">
      <%= render partial: 'privilege', collection: @card_template.privileges, as: :privilege %>
    </div>
  </div>
</div>
