<%= render 'menu' %>

<div class="cards">
<% if @card %>
  <%= render partial: 'card', locals: { model: @card } %>
<% else %>
  <%= render partial: 'card_template', locals: { model: @card_template } %>
<% end %>
</div>
