<ul class="breadcrumb">
  <li class=""><%= link_to 'Back', doctors_path %></li>
  <li><%= link_to 'Show', @doctor %></li>
  <li>编辑</li>
</ul>

<div class="col-sm-12">
  <%= render 'form' %>
</div>




