<%= form_with theme: 'search', model: Trade::RentCharge.new do |f| %>
  <div class="field-body">
    <%= f.text_field :value %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:value]), class: 'button is-light' %>
    </div>
  </div>
<% end %>

