<div class="ui grid">

  <div class="three wide column">
    <%= render 'nav' %>
  </div>

  <div class="thirteen wide column">

    <table class="ui very basic large table">
      <thead>
      <tr>
        <th class="three wide"></th>
        <th>
          <%= link_to '编辑', edit_my_buyer_path, class: 'ui mini blue right floated button' %>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="right aligned">称呼：</td>
        <td><%= @buyer.name %></td>
      </tr>
      <tr>
        <td class="right aligned">预付比例：</td>
        <td><%= @buyer.deposit_ratio %></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>