<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @payment, scope: :payment, url: admin_payment_path(@payment), method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
