<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_payments_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Edit</div>
</div>
<% end %>

<div class="ui segment">
  <%= form_with model: @payment, scope: :payment, url: admin_payment_path(@payment), method: :patch do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
