<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_payments_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Add New</div>
</div>

<div class="ui segment">
  <%= form_with model: @payment, scope: :payment, url: admin_payments_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
