<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.items.index.title'), { action: 'index', anchor: "tr_#{@item.id}" } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
