

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'carts', action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
    </div>
  </td>

