<li>
<% if params[:rentable_type] == 'Ship::BoxHost' %>
  <%= link_to t('.box_hosts.index.title'), { controller: 'box_hosts', anchor: "tr_#{params[:rentable_id]}" } %>
<% else %>
  <%= link_to '返回', { action: 'index' }, state: 'return' %>
<% end %>
</li>
<li class="is-active"><%= t('.title') %></li>
