<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%# link_to t('trade.admin.additions.index.title'), { controller: 'additions', anchor: "tr_#{@addition.id}" } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
