<div class="ui breadcrumb">
  <%= link_to '全部商品', admin_goods_path, class: 'section' %>
  <div class="divider"> / </div>
  <%= link_to @good.name, admin_good_path(@good), class: 'section' %>
  <div class="divider"> / </div>
  <span class="section">编辑</span>
</div>

<div class="ui grid">


  <div class="thirteen wide column">

    <%= render 'form' %>
  </div>
</div>
