<div class="">

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_payment_methods_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= form_with model: @payment_method, scope: :payment_method, url: admin_payment_method_path(@payment_method), local: true do |f| %>
      <%= render partial: 'form', locals: { f:f } %>
    <% end %>
  </div>

</div>
