<div class="level is-mobile mb-0 py-2 has-border-top px-4">
  <div class="level-left flex-direction-row">
    <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, state: 'enter', class: 'level-item mb-0') do %>
      <i class="fa-solid fa-bag-shopping fa-2x fa-weui-badge">
        <span class="weui-badge"><%= @cart.items.count %></span>
      </i>
    <% end %>
    <div class="level-item pl-4 align-items-baseline">
      <%= @cart.item_amount.to_money.format.html_safe %>
    </div>
  </div>
  <div class="level-right mt-0">
    <div class="level-item">
      <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, state: 'enter', class: 'button is-small is-primary') do %>
        <span class="pr-1">去购物车</span>
        <i class="fa-solid fa-angle-right"></i>
      <% end %>
    </div>
  </div>
</div>
