<div id="cart_<%= item.cart_identity %>" data-controller="modify" data-modify-submit-value="true" data-modify-step-value="1" class="has-v-centered">
  <%= button_to({ controller: 'trade/my/items', action: 'remove' }, params: { current_cart_id: @cart.id }, class: 'mr-1') do %>
    <i class="fa-solid fa-xl fa-circle-xmark color-grey"></i>
  <% end %>
  <% if item.number > 1 %>
    <button data-action="modify#minus" class="button_to mr-1">
      <i class="fa-solid fa-xl fa-circle-minus color-grey"></i>
    </button>
  <% end %>
  <%= form_with theme: nil, url: { controller: item_con, action: 'remove' }, data: { controller: 'input' }, class: '' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
  <% end %>
  <button data-action="modify#plus" class="button_to ml-1">
    <i class="fa-solid fa-xl fa-circle-plus color-grey"></i>
  </button>
</div>
