<div class="hero-body container">
  <div class="tile is-parent">
    <div>
      <p class="title"><%= t('.title') %></p>
      <p><%= t('.tip') %></p>
      <p>支付流水：<%= payment.payment_uuid %></p>
    </div>
  </div>
</div>
