<%= form_with theme: 'default_phone', model: @lawful_wallet, scope: :wallet, url: { action: 'update' }, method: :patch do |f| %>
  <div class="form-fields">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
