<li><%= link_to t('.orders.index.title'), { controller: 'orders', action: 'index' } %></li>
<li><%= link_to @item.order.uuid, { controller: 'orders', action: 'show', id: @item.order_id } %></li>
<li class="is-active"><%= @item.id %></li>
