<div>
  <dt><%= Trade::WalletTemplate.human_attribute_name(:name) %></dt>
  <dd><%= @wallet_template.name %></dd>
</div>
<div>
  <dt><%= Trade::WalletTemplate.human_attribute_name(:price) %></dt>
  <dd>
  <% @wallet_template.advances.each do |advance| %>
    <p><%= advance.price %></p>
  <% end %>
  </dd>
</div>
