<tr>
  <td><%= Trade::WalletTemplate.human_attribute_name(:name) %></td>
  <td><%= @wallet_template.name %></td>
</tr>
<tr>
  <td><%= Trade::WalletTemplate.human_attribute_name(:price) %></td>
  <td><%= @wallet_template.advances %></td>
</tr>
