<div class="weui-panel is-borderless">
  <div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="weui-panel__hd as-bar">
    <%= link_to({ controller: 'org/me/home' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
    <div class="weui-title"><%= t('.title', default: '') %></div>
    <%= link_to({ action: 'qrcode_file' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-download"></i>
      <span class="pl-1"><%= t('.qrcode_file.title') %></span>
    <% end %>
  </div>
</div>
