<table class="as-search">
  <tr>
    <th><%= Trade::Promote.human_attribute_name(:scope) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:scope]), class: active_params(scope: '', active: 'button is-info', item: 'button is-light') %>
      <% Trade::Promote.options_i18n(:scope).each do |text, value| %>
        <%= link_to text, filter_params(scope: value), class: active_params(scope: value, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
