<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    <%= t('.new') %>
  </div>

  <div class="content" id="content">
    <%= form_with model: @promote, scope: :promote, url: admin_promotes_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
