<th>
  <p><%= CardPromote.human_attribute_name(:income_min) %></p>
  <p><%= CardPromote.human_attribute_name(:income_max) %></p>
</th>
<th><%= CardPromote.human_attribute_name(:promote_id) %></th>
<th></th>
