<div class="box is-padding-less">
  <div class="box-header">订单管理</div>
  <div class="fixed-grid has-3-cols">
    <div class="grid">
      <%= render 'order_column' %>
    </div>
  </div>
</div>

<div class="box is-padding-less">
  <div class="box-header">财务管理</div>
  <div class="fixed-grid has-3-cols">
    <div class="grid">
      <%= render 'finance_column' %>
    </div>
  </div>
</div>
