<div class="fixed-grid has-6-cols">
  <div class="grid">
    <div class="cell is-box">
      <%= link_to t('trade.admin.promotes.index.title'), { controller: 'trade/admin/promotes' }, class: 'button' %>
    </div>
    <div class="cell is-box">
      <%= link_to t('trade.admin.items.index.title'), { controller: 'trade/admin/items' }, class: 'button' %>
    </div>
    <div class="cell is-box">
      <%= link_to t('trade.admin.carts.index.title'), { controller: 'trade/admin/carts' }, class: 'button' %>
    </div>
  </div>
</div>
