<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">订单管理</div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= render 'order_column' %>
    </div>
  </div>
</div>

<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">财务管理</div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= render 'finance_column' %>
    </div>
  </div>
</div>
