<div data-controller="empty" class="weui-panel is-box is-borderless mt-3">
  <div class="weui-panel__hd">订单管理</div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= render 'order_column' %>
    </div>
  </div>
</div>

<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd">财务管理</div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= render 'finance_column' %>
    </div>
  </div>
</div>
