<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('trade.admin.promotes.index.title'), { controller: 'promotes' } %></li>
    <% if params[:promote_id] %>
      <li><%= @promote.name %></li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
