<div class="box">
<% if @promote_carts.blank? %>
  <p class="has-text-centered has-text-grey">暂无优惠券</p>
<% else %>
  <%= render partial: 'promote_cart', collection: @promote_carts, as: :model %>
<% end %>
</div>
