<tr>
  <td><%= model.name %></td>
  <td>
    <%= button_to({ action: 'new', promote_id: model.id }, class: 'button is-small is-link') do %>
      <%= svg_tag 'plus' %>
      <span class="ml-1"><%= t('.new.title') %></span>
    <% end %>
  </td>
</tr>