<tr>
  <td><%= sale.id %></td>
  <td><%= sale.suggest.name %></td>
  <td><%= link_to '编辑', edit_good_sale_path(@good, sale) %></td>
  <td><%= link_to '删除', good_sale_path(@good, sale), method: :delete, data: { confirm: 'Are you sure?' } %><td>
</tr>














