<td><i class="fa-solid fa-fw fa-bars has-text-grey is-drawable"></i></td>
<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td><%= model.amount %></td>
<td><%= model.promote&.name %></td>
