<div class="box p-0">
  <div class="box-body">
    <span>余额：</span>
    <% if @wallet.is_a?(Trade::LawfulWallet) %>
      <span><%= @wallet.amount.to_money.format.html_safe %></span>
    <% else %>
      <span><%= @wallet.amount.to_fs(:rounded, precision: @wallet.wallet_template.digit) %></span>
      <span><%= @wallet.wallet_template.unit %></span>
    <% end %>
  </div>
  <%= yield %>
</div>
