<div class="weui-panel is-borderless">
  <div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="weui-panel__hd as-bar">
    <%= link_to({ controller: 'wallets', action: 'show', id: @wallet.id }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @wallet.wallet_template_id %>
    <%= link_to({ controller: 'lawful_wallets', action: 'show' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end unless @wallet.wallet_template_id %>
    <div class="weui-title"><%= t('.title') %></div>
    <i style="width: 3rem"></i>
  </div>
</div>
