<tr>
  <td class="<%= model.amount >= 0 ? 'has-text-success' : 'has-text-danger' %>"><%= model.amount %></td>
  <td><span class="tag"><%= model.tag_str %></span></td>
  <td class="has-text-right">
    <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.created_at.to_fs(:iso8601) %></time>
  </td>
</tr>
