<div class="box as-bar">
  <%= link_to({ controller: 'orders', action: 'show', id: @item.order_id }, class: 'px-4') do %>
    <%= svg_tag 'angle-left', kind: 'regular' %>
  <% end %>
  <div class="weui-title"><%= @item.order.uuid %></div>
  <i class="px-5"></i>
</div>
